# Built application files
*.apk
*.aab
*.aar
*.ap_
*.dex

# Build / Output directories
build/
**/build/
captures/
.cxx/
.externalNativeBuild/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Kotlin
.kotlin/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Local configuration
local.properties

# Signing & Keystores
*.jks
*.keystore
*.key

# OS & Environment
.DS_Store
Thumbs.db
